<h1> this is user's Profile page</h1>
<br>
<h2>Your profile details</h2>
<p>Name: <%= @account.name %></p>
<p>Email: <%= @account.email %></p>
<p>Profile Privacy: <%= @account.profile_privacy.capitalize %></p>
<br>
<br>
<h2>Your Posts</h2>
<% @posts.each do |post| %>
  <%= render post %>
  <p>
    <%= link_to "Show this post", post %>
  </p>
<% end %>
<%= link_to "New post", new_post_path %>
